// ----------------------------------------------------------------------------------------------
// SECTION Variables ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------
// NOTE Project ---------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// NOTE Colors ----------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------
// NOTE Bootstrap -------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// NOTE Utilities -------------------------------------------------------------------------------

$utilities: (
        "cursor": (
                property: cursor,
                class: cursor,
                responsive: false,
                values: pointer,
        )
);

// NOTE Color system ----------------------------------------------------------------------------

:root {
  --primary: #01C38E;
  --primary-light: #DCEDFF;
  --primary-lighter: #ddecf3;
  --white: #ffffff;
  --table-text:#1B1A23;

  --active-nav:--primary;
  --nav-bottom-border: rgba(172, 239, 229, 0.6);

  --dropdown-border: 0.5px solid #01C38E;

  --bg-light-green: #eefffc;
  --bg-grey: #FBFBFE;
  --bg-grey2: #f4f4f4;

  --hr-divider: #DEDEDE;

  --bg-light-amber: #ffe8c7;
  --amber-text: #f19100;


  --form-border: #979797;
  --form-bg:#F8F8F8;

  --sm-font-size: 0.8rem;
  --xx-font-size: 1rem;
}

$primary: #375F9B;
$secondary: #8492A6;
$text-muted: #ACA7AA;
$info: #375F9B; // #3C78DA;
$danger: #D0021B;
$success: #12a366;
$min-contrast-ratio: 2.5;
$forest-green: #589F58;
$white: #FFFFFF;
$light-gray: #969696;
$coral: #F57188;
$baby-blue: #1F8AB4;
// NOTE Body ------------------------------------------------------------------------------------

//Responsive Breakpoints
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;

// NOTE Backgrounds ------------------------------------------------------------------------------------
.bkg-ft-dark {
  background: var(--bkg-2);
}
$forest-green-bg: #589F58;
$baby-blue-bg: #EBF9FF;
$light-gray-bg: #F6F6F6;
$rust-brown-bg: #CE7D66;
// NOTE Grid ------------------------------------------------------------------------------------

// NOTE Borders ---------------------------------------------------------------------------------

// NOTE Typography  -----------------------------------------------------------------------------

// NOTE Links -----------------------------------------------------------------------------------
// NOTE Badges ----------------------------------------------------------------------------------
// NOTE Buttons ---------------------------------------------------------------------------------

$btn-close-color: white;

// NOTE Navbar ----------------------------------------------------------------------------------
// NOTE Navs ------------------------------------------------------------------------------------

// NOTE Modal -----------------------------------------------------------------------------------

// NOTE Dropdowns -------------------------------------------------------------------------------
// NOTE Cards -----------------------------------------------------------------------------------

// NOTE List group ------------------------------------------------------------------------------
// NOTE Pagination ------------------------------------------------------------------------------
// NOTE Popovers --------------------------------------------------------------------------------
// NOTE Typography ------------------------------------------------------------------------------
// NOTE Forms -----------------------------------------------------------------------------------

// NOTE Tables ----------------------------------------------------------------------------------

// !SECTION Variables
